<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es-ES" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <title>INCO</title>
    <!-- agregado --> 
    @Styles.Render("~/bundles/css")  
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>      
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>


    <link href="~/Content/estilos.css" rel="stylesheet" />
    <link href="~/Content/SpryMenuBarHorizontal.css" rel="stylesheet" />
    <link href="~/Content/SpryTabbedPanels.css" rel="stylesheet" />
    <script src="~/Scripts/SpryMenuBar.js"></script>
    <script src="~/Scripts/SpryTabbedPanels.js"></script>
    <script src="~/Scripts/Layout.js"></script>
    <!-- agregado -->
    <script type="text/javascript">
        function MM_swapImgRestore() { //v3.0
            var i, x, a = document.MM_sr; for (i = 0; a && i < a.length && (x = a[i]) && x.oSrc; i++) x.src = x.oSrc;
        }
        function MM_preloadImages() { //v3.0
            var d = document; if (d.images) {
                if (!d.MM_p) d.MM_p = new Array();
                var i, j = d.MM_p.length, a = MM_preloadImages.arguments; for (i = 0; i < a.length; i++)
                    if (a[i].indexOf("#") != 0) { d.MM_p[j] = new Image; d.MM_p[j++].src = a[i]; }
            }
        }

        function MM_findObj(n, d) { //v4.01
            var p, i, x; if (!d) d = document; if ((p = n.indexOf("?")) > 0 && parent.frames.length) {
                d = parent.frames[n.substring(p + 1)].document; n = n.substring(0, p);
            }
            if (!(x = d[n]) && d.all) x = d.all[n]; for (i = 0; !x && i < d.forms.length; i++) x = d.forms[i][n];
            for (i = 0; !x && d.layers && i < d.layers.length; i++) x = MM_findObj(n, d.layers[i].document);
            if (!x && d.getElementById) x = d.getElementById(n); return x;
        }

        function MM_swapImage() { //v3.0
            var i, j = 0, x, a = MM_swapImage.arguments; document.MM_sr = new Array; for (i = 0; i < (a.length - 2) ; i += 3)
                if ((x = MM_findObj(a[i])) != null) { document.MM_sr[j++] = x; if (!x.oSrc) x.oSrc = x.src; x.src = a[i + 2]; }
        }
    </script>
    <meta http-equiv="x-ua-compatible" content="IE=9" />
</head>
<body onkeydown = "return (event.keyCode!=13)" onload="MM_preloadImages('/INCO/Content/themes/base/images/ico_federal.png', '/INCO/Content/themes/base/images/ico_municipal_over.png', '/INCO/Content/themes/base/images/ico_estatal_over.png', '/INCO/Content/themes/base/images/ico_federal_over.png', '/INCO/Content/themes/base/images/ico_guardar_over.png', '/INCO/Content/themes/base/images/ico_eliminar_over.png', '/INCO/Content/themes/base/images/ico_nuevo_over.png')">    
    <div id="wrapper">
        <div id="toolsWrapper">
            <ul id="siteTools">                                                
                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["pathGuiaUsuario"]" title="Guía de Usuario" target="_blank">Guía de usuarios</a></li>
                @if (Session != null && Session["UsrName"] != null)
                {
                <li><a href="~/UserLogin/">Cerrar Sesi&oacute;n</a></li>
                }
            </ul>
        </div>

        <div id="mainHeader">             
            <h1><a href="@System.Configuration.ConfigurationManager.AppSettings["pathConeval"]" target="_blank" class="mainLogoInterna" title="Ir a página de Coneval ">Coneval</a></h1>            
            <!--inventarios-->
            <div id="inventariosFed"><a href="@System.Configuration.ConfigurationManager.AppSettings["pathIPFE"]" target="_blank" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image3', '', '/INCO/Content/themes/base/images/ico_federal_over.png', 1)"><img src="~/Content/themes/base/images/ico_federal.png" alt="Inventario Estatal" width="155" height="145" id="Image3" /></a></div>
            <div id="inventariosEst">
                <a href="@System.Configuration.ConfigurationManager.AppSettings["pathIPE"]" target="_blank" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Inventario Federal', '', '/INCO/Content/themes/base/images/ico_estatal_over.png', 1)"><img src="~/Content/themes/base/images/ico_estatal.png" alt="Inventario Federal" width="155" height="145" id="Inventario Federal" /></a>
            </div>
            <div id="inventariosMun">
                <a href="@System.Configuration.ConfigurationManager.AppSettings["pathIPM"]" target="_blank" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Inventario Federal1', '', '/INCO/Content/themes/base/images/ico_federal.png', 'Inventario Federal2', '', '/INCO/Content/themes/base/images/ico_municipal_over.png', 1)"><img src="~/Content/themes/base/images/ico_municipal.png" alt="Inventario Federal" width="155" height="145" id="Inventario Federal2" /></a>
            </div>
        </div>
        @if (Session != null && Session["UsrName"] != null)
        {
            if (Session["InvNombre"].ToString() == "Federal")
            {
                <script>
                    $('.mainLogoInterna').css("background-image", "url(/INCO/Content/themes/base/images/logo_int1.png)");
                </script>
            }
            else
            {
                if (Session["InvNombre"].ToString() == "Estatal")
                {
                    <script>
                        $('.mainLogoInterna').css("background-image", "url(/INCO/Content/themes/base/images/logo_int2.png)");
                    </script>
                }
            }
        }
        <!--navegación principal-->
        <div id="navegacion">
            <ul id="MenuBar1" class="MenuBarHorizontal">
                @if (Session != null && Session["UsrName"] != null)
                {
                    if (Session["Privilegios"].ToString().Contains("Administrador"))
                    {
                      <li>
                          <a class="MenuBarItemSubmenu" href="#">Administración</a>
                          <ul>
                              <li><a href="~/Perfiles">Administración de Perfiles</a></li>
                              <li><a href="~/Usuarios">Administración de Usuarios</a></li>
                              <li><a href="~/Catalogos">Catálogos</a></li>
                              <li><a href="~/AprobarInventarios">Aprobación de Inventarios</a></li>
                              @if (Session["InvId"].ToString() == "1" && Session["InvNombre"].ToString() == "Federal")
                              {
                                  <li><a href="~/PublicarInventarios">Publicaci&oacute;n de Inventarios</a></li>
                                  <li><a href="~/CargaExcelFederales">Carga Excel de Inventarios Federales</a></li>
                                  <li><a href="~/CargaExcelDGAE">Carga Excel Base DGAE</a></li>
                                  <li><a href="~/CargaExcel2019">Carga Excel de Inventarios Federales 2019</a></li>
                              }
                          </ul>
                      </li>
                      <li>
                          <a class="MenuBarItemSubmenu" href="#">Inventarios</a>
                            <ul>
                                @if (@Session["InvNombre"].ToString() == "Federal")
                                {
                                    <li><a href="~/InventariosFederales">Captura</a></li>
                                    <li><a href="~/VistaPreviaProgramas">Vista Previa Programas</a></li>
                                    <li><a href="~/VistaPreviaFederales">Vista Previa Programas Aprobados</a></li>
                                }
                                else
                                {
                                    <li><a href="~/InventariosEstatales">Captura</a></li>
                                }                                
                            </ul>
                        </li>
                    }
                    if ((Session["Privilegios"].ToString().Contains("Editar") || Session["Privilegios"].ToString().Contains("Consultar")) && !Session["Privilegios"].ToString().Contains("Administrador"))
                    {
                        <li>
                            <a class="MenuBarItemSubmenu">Inventarios</a>
                            <ul>
                                @if (@Session["InvNombre"].ToString() == "Federal")
                                {                                    
                                    <li><a href="~/InventariosFederales">Captura</a></li>
                                    <li><a href="~/VistaPreviaProgramas">Vista Previa Programas</a></li>
                                    <li><a href="~/VistaPreviaFederales">Vista Previa Programas Aprobados</a></li>
                                }
                                else
                                {
                                    <li><a href="~/InventariosEstatales">Captura</a></li>
                                } 
                            </ul>
                        </li>
                    }
                    if (Session["Privilegios"].ToString().Contains("Reportes"))
                    {
                        <li>
                            <a class="MenuBarItemSubmenu" href="#">Reportes</a>
                                @if (Session["InvId"].ToString() == "1" && Session["InvNombre"].ToString() == "Federal")
                                {
                                    <ul>
                                        <li><a href="~/Reportes">Visualizar Reportes</a></li>
                                        <li><a href="~/DetalleProgramas">Consulta Programas Publicados</a></li>
                                        @if (Session["Privilegios"].ToString().Contains("Administrador"))
                                        {
                                            <li><a href="~/ReporteCompleto">Reporte Completo</a></li>
                                        }
                                    </ul>
                                }
                        </li>
                    }                    
                    <content><div style="text-align:right;    display: block; cursor: pointer; color: #FFFFFF; text-decoration: none; height: 29px; padding-top: 23px; padding-right: 35px; padding-left: 35px; padding-bottom: 12px; font-size: 13px;">@Html.Label("Bienvenid@: ") @Session["UsrName"]</div></content>                    
                }               
             </ul>
            <div class="clear"></div>
        </div>
       
        <!--Inicia codigo para el bloqueo de la pantalla-->
        <div id="skm_LockBackground" class="LockOff" style="display:none"></div>
        <div id="skm_LockPane" class="LockOff" style="display:none">
            <div id="skm_LockPaneText">&nbsp;</div>
        </div>
        <!--Fin de coidgo para el bloqueo de pantalla-->       
            @RenderBody()               
        </div> <!--Finde div wrapper-->
  
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)       
    
    <script type="text/javascript">        
        var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", { imgDown: "/INCO/Content/themes/base/images/SpryMenuBarDownHover.gif", imgRight: "/INCO/Content/themes/base/images/SpryMenuBarRightHover.gif" });
    </script>
</body>
</html>
